@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Variables  */
:root{
    --main-color: #050a30;  
  --text-grey: #8390a2;
  --color_Dark2: #252527;
    --color_Blue:  #2e8bc0;
    --color_Dark1: #050a30;
    --color_Dark2: #252527;
    --color_Light1: #dfdfdf;
    --color_Light2: #c4c4c4;
}
*
{
  scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,li,a {
    list-style-type: none !important;
    text-decoration: none !important;
}

.wrapper {
    display: flex;
}

/* .main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;

} */
  /* #sidebar{
    position: sticky;
    top: 0;
    left: 0;
    height:100vh !important;
    width: 100px; */
    /* min-width: 100px; 
    background-color: var(--color_Dark1);
    transition: all .5s ease;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    overflow-y: auto !important;
    /* overflow-x: hidden; */
    
/* }  */
#sidebar.list::-webkit-scrollbar{
    display: none;
}


#sidebar {
    width: 100px;
    min-width: 100px;
    height: auto !important;
    z-index: 1000;
    transition: all .5s ease;
     background-color: #0e2238; 
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
     font-family: "Poppins", sans-serif;
}

#sidebar.expand {
    width: 300px;
    min-width: 300px;
    height: auto !important;
}


.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 35px;
    color: #FFF;
}

.toggle-btn :hover {
    
color: var(--color_Blue);
}


#sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a img{
  height: 110px !important;
  width: 150px !important;
  margin-left: -5px !important;
  margin-top:-10px !important;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    margin-top: -30px !important;
}

a.sidebar-link {
    padding: .625rem 1.625rem;    
    color: #FFF;
    display: block;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    border-left: 5px solid transparent;
}
/* dropdown menu */
a.sidebar-link1 {
    padding: .625rem 5.625rem;    
    color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: 200;
    white-space: nowrap;
    /* background-color: var(--color_Dark2); */
    background-color: #05445e;
}
/* Nested dropdown */

a.sidebar-link2 {
    padding: .625rem 6.625rem;    
    color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: 200;
    white-space: nowrap;
    background-color: #67595e;
    /* background-color: #7fa2b8; */
    /* background-color: var(--color_Dark2); */
}

.sidebar-link span{
    padding: 0 10px;
}
.sidebar-link span i{
    padding: 0 10px;
    font-size: 12px;
}

.sidebar-link i {
    font-size: 20px ;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    /* background-color: rgba(255, 255, 255, .075); */
    background-color: var(--color_Blue);
    border-left: 5px solid #edcc6f;
}

.sidebar-item {
    position: relative;
}


/* Main panel start */

 .nav-brand{
    font-size: 25px;
     color: #fff;
    font-weight: 600;
   
} 
 .toggle-sidebar em{
    font-size: 25px;
    color: #fff;
    
} 
/* Main Panel start */


.home{
  
    position: absolute;
    background-color: var(--color_Light1);
    top:0;
    left: 300px;
    width: calc(100% - 300px);
    height: 100svh !important;
    transition: all .5s ease;
    /* height: auto !important; */
}
#sidebar:not(.expand) ~.home{
    left: 100px;
    width: 100%;
    
}

/* Nav bar start */
.navbar {
  height: 100px;
  width: 100%;
  background-color: var(--color_Blue);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  /* width: calc(100%-260px); */
  
}
.navbar .toggler {
  color: #fff;
  font-size: 40px;
  margin-left: 15px;
   position: relative;
  top:-15px;  
}
.navbar .nav-brand {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 38px;
  font-weight: bold;
  position: relative;
  top:-15px;
}
.subtitle {
  position: absolute;
  top: 50px;
  left: 130px;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
 
}
/* Navbar end */

.home .toggle-sidebar a {
  margin-left: 460px !important;
  color: #fff;
  font-size: 23px;
  /* margin-top: -60px !important; */
}

/* Image section */
.gallery {
  --s: 120px; /* control the size */
  --g: 10px; /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
}

.gallery > .hex {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 0.866;
  object-fit: cover;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
  transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
  cursor: pointer;
  /* filter: grayscale(80%); */
  transition: 0.2s linear;
  margin-left: 30px;
}
.gallery > .hex:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > .hex:nth-child(1) {
  --_x: calc(-100% - var(--g));
}
.gallery > .hex:nth-child(7) {
  --_x: calc(100% + var(--g));
}
.gallery > .hex:nth-child(3),
.gallery > .hex:nth-child(5) {
  --_y: calc(-75% - 0.87 * var(--g));
}
.gallery > .hex:nth-child(4),
.gallery > .hex:nth-child(6) {
  --_y: calc(75% + 0.87 * var(--g));
}
.gallery > .hex:nth-child(3),
.gallery > .hex:nth-child(4) {
  --_x: calc(-50% - 0.5 * var(--g));
}
.gallery > .hex:nth-child(5),
.gallery > .hex:nth-child(6) {
  --_x: calc(50% + 0.5 * var(--g));
}
.small {
  
  animation: beat 3s infinite linear;
  grid-area: 1/1; 
  width: 180px;
  height: 150px;
  aspect-ratio: 0.866;
  /* object-fit: cover; */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  /* margin-top: -4px; */
  transition: 0.2s linear;
  margin-left: 2px;
  /* padding: 7px;*/
  position: absolute;
  /* top: 41.5%;  */
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* End Main panel */

/* Start Footer */
footer {
  height: 50px;
  width: 100%;
  margin-top:3.99%;
  background-color: var(--color_Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
footer a {
  color: #fff;
}
/*Footer End */
/* Media query */

@media (max-width: 450px) {
  .home{
    height: auto !important;
  }
  .nav-brand{
    font-size: 22px !important;
    color: #fff;
    position: relative; 
    /* left: -15px !important; */
    top:-20px !important;
   
} 
.home .toggle-sidebar em{
    font-size: 15px;
    color: #fff;
    position: absolute !important;
     left: 45px !important;
    /* top:-20px !important; */
    
} 
 .navbar a {
 
    display: none;
  }

  /* image section */
  .gallery {
    --s: 100px; /* control the size */
    --g: 7px; /* control the gap */
    display: grid;
    margin: calc(var(--s) + var(--g));
  }

  .gallery > .hex {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 0.866;
    object-fit: cover;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
    cursor: pointer;
    /* filter: grayscale(80%); */
    transition: 0.2s linear;
    margin-left: -1px !important;
  }
  .gallery > .hex:hover {
    filter: grayscale(0);
    z-index: 1;
    --_t: 1.2;
  }

  .gallery > .hex:nth-child(1) {
    --_x: calc(-100% - var(--g));
  }
  .gallery > .hex:nth-child(7) {
    --_x: calc(100% + var(--g));
  }
  .gallery > .hex:nth-child(3),
  .gallery > .hex:nth-child(5) {
    --_y: calc(-75% - 0.87 * var(--g));
  }
  .gallery > .hex:nth-child(4),
  .gallery > .hex:nth-child(6) {
    --_y: calc(75% + 0.87 * var(--g));
  }
  .gallery > .hex:nth-child(3),
  .gallery > .hex:nth-child(4) {
    --_x: calc(-50% - 0.5 * var(--g));
  }
  .gallery > .hex:nth-child(5),
  .gallery > .hex:nth-child(6) {
    --_x: calc(50% + 0.5 * var(--g));
  }
  .small {  
    animation: beat 3s infinite linear;
    grid-area: 1/1;
    width: 100px !important;
    height:110px !important;
    aspect-ratio: 0.866;
    object-fit: cover;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    /* transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1)); */
    cursor: pointer;
    transition: 0.2s linear;
    /* margin-left: 10px; */
    padding: 7px;
  }
  @keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
 
  
}




